@font-face {
  font-family: 'fe-schrift';
  src:
    url('./fe-schrift.woff2') format('woff2'),
    url('./fe-schrift.woff') format('woff'),
    url('./fe-schrift.otf') format('opentype'),
    url('./fe-schrift.ttf') format('truetype');
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
}
