.game-play__answerlist {
  margin: 0;
  padding: 0;
}
.game-play__answerlistitem {
  list-style: none;
}

button.game-play__answer {
  /* generic button reset styles */
  width: 100%;
  margin: 0;
  border: 1px solid grey;
  border-radius: 0.5em;
  box-shadow: 2px 2px 2px grey;
  padding: 0.75em;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  color: inherit;

  /* specific styles to this class */
  display: inline-block;
  margin: 0 1em 1em 0;
  background-color: #555;
}
button.game-play__answer:hover {
  box-shadow: 0 0 2px grey;
  background-color: #888;
}

.game-play__answer--correct,
.game-play__answer--incorrect {
  display: inline-block;
  margin-bottom: 1em;
}
.game-play__answer--correct {
  color: forestgreen;
}
.game-play__answer--incorrect {
  color: crimson;
}
