.game-play__answerlist {
  margin: 0;
  padding: 0;
}
.game-play__answerlistitem {
  list-style: none;
}

.game-play__answer--correct,
.game-play__answer--incorrect {
  display: inline-block;
  margin-bottom: 1em;
  margin-right: 0.5em;
}
.game-play__answer--correct {
  color: forestgreen;
}
.game-play__answer--incorrect {
  color: crimson;
}

.game-play__loader {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #282828;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  box-sizing: border-box;
}
.game-play__loader::before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  inset: -2px;
  border-radius: 50%;
  border: 2px solid #ccc;
  animation: gamePlayLoader 2s infinite linear;
}
@keyframes gamePlayLoader {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      100% 0,
      100% 0,
      100% 0,
      100% 0
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      100% 0,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      0 0,
      100% 0,
      100% 100%,
      0 100%,
      0 0
    );
  }
}
